body {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  #map {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    position: relative;
  }
  .location {
    position: absolute;
    cursor: pointer;
  }
  body, h1{
    background-color: white;
    border: 1px solid black;
  }


